body {
  font-family: Verdana, Geneva, Tahoma, sans-serif 
}
table, th, td{
  border: none; 
  width: 100px;
}
table{
  border-collapse: collapse;
}
td{
  text-align: center;
}
.list{
  border: none; 
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  font-size: 20pt;
  text-align: center;
}